####  Importing Libraries

In [1]:
import pandas as pd
import joblib

####  Reding the Input Files

In [2]:
df_article=pd.read_csv('articles.csv')

### Saving the article file

In [27]:
joblib.dump(df_article,'articles.df')

['articles.df']

In [28]:
df_article.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

### Feature Enginering by creating the dummy variables for below

In [29]:
article=df_article[['article_id','product_group_name','garment_group_name','index_group_name']]
article.head()

   article_id  product_group_name garment_group_name index_group_name
0   108775015  Garment Upper body       Jersey Basic       Ladieswear
1   108775044  Garment Upper body       Jersey Basic       Ladieswear
2   108775051  Garment Upper body       Jersey Basic       Ladieswear
3   110065001           Underwear  Under-, Nightwear       Ladieswear
4   110065002           Underwear  Under-, Nightwear       Ladieswear

In [30]:
meta_data=pd.get_dummies(article,columns=['product_group_name','garment_group_name','index_group_name']).astype(int)
meta_data.head()

,article_id,product_group_name_Accessories,product_group_name_Bags,product_group_name_Cosmetic,product_group_name_Fun,product_group_name_Furniture,product_group_name_Garment Full body,product_group_name_Garment Lower body,product_group_name_Garment Upper body,product_group_name_Garment and Shoe care,...,garment_group_name_Trousers,garment_group_name_Trousers Denim,"garment_group_name_Under-, Nightwear",garment_group_name_Unknown,garment_group_name_Woven/Jersey/Knitted mix Baby,index_group_name_Baby/Children,index_group_name_Divided,index_group_name_Ladieswear,index_group_name_Menswear,index_group_name_Sport
0,108775015,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,108775044,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,108775051,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,110065001,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,110065002,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

### Saving the above meta_data file

In [8]:
meta_data.to_csv('meta_data.csv')
joblib.dump(df_article,'articles.df')

In [31]:
meta_data.head(1)

,article_id,product_group_name_Accessories,product_group_name_Bags,product_group_name_Cosmetic,product_group_name_Fun,product_group_name_Furniture,product_group_name_Garment Full body,product_group_name_Garment Lower body,product_group_name_Garment Upper body,product_group_name_Garment and Shoe care,...,garment_group_name_Trousers,garment_group_name_Trousers Denim,"garment_group_name_Under-, Nightwear",garment_group_name_Unknown,garment_group_name_Woven/Jersey/Knitted mix Baby,index_group_name_Baby/Children,index_group_name_Divided,index_group_name_Ladieswear,index_group_name_Menswear,index_group_name_Sport
0,108775015,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [39]:
articleid='816166002'
article = df_article.index[df_article['article_id'] == int(articleid)]
article

Index([84525], dtype='int64')

In [40]:
y=meta_data.loc[article]
y

,article_id,product_group_name_Accessories,product_group_name_Bags,product_group_name_Cosmetic,product_group_name_Fun,product_group_name_Furniture,product_group_name_Garment Full body,product_group_name_Garment Lower body,product_group_name_Garment Upper body,product_group_name_Garment and Shoe care,...,garment_group_name_Trousers,garment_group_name_Trousers Denim,"garment_group_name_Under-, Nightwear",garment_group_name_Unknown,garment_group_name_Woven/Jersey/Knitted mix Baby,index_group_name_Baby/Children,index_group_name_Divided,index_group_name_Ladieswear,index_group_name_Menswear,index_group_name_Sport
84525,816166002,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [45]:
joblib.dump(meta_data,'meta_data.df')

['meta_data.df']

### K-Nearest Neighbors Model

In [41]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(n_neighbors=5)
knn.fit(meta_data)
n_recs=5
# Return results using .kneighbors attribute of knn model
index = knn.kneighbors(X=y, n_neighbors=n_recs+1, return_distance=False).flatten()
results = df_article.iloc[index].index.values[1:]
results

array([84532, 84524, 84530, 84525, 84531], dtype=int64)

### Saving the model file

In [34]:
joblib.dump(knn,'knn.mt')

['knn.mt']

In [44]:
# Using returned results variable, index the original meta data frame to return appropriate information for each article
results_df = df_article.loc[results]
results_df.reset_index(inplace=True)
results_df

,index,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,84532,816166010,816166,Sorrel,265,Dress,Garment Full body,1010001,All over pattern,21,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Short, straight-cut dress in woven fabric with..."
1,84524,816166001,816166,Sorrel,265,Dress,Garment Full body,1010016,Solid,9,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Short, straight-cut dress in woven fabric with..."
2,84530,816166008,816166,Sorrel,265,Dress,Garment Full body,1010001,All over pattern,73,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Short, straight-cut dress in woven fabric with..."
3,84525,816166002,816166,Sorrel,265,Dress,Garment Full body,1010016,Solid,19,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Short, straight-cut dress in woven fabric with..."
4,84531,816166009,816166,Sorrel,265,Dress,Garment Full body,1010001,All over pattern,11,...,Dress,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1013,Dresses Ladies,"Short, straight-cut dress in woven fabric with..."